# File necessary for CrowdAnki import from disk feature - but will get built synthetically on every pull
deck.json

# Virtual Studio Code
.history/

# CrowdAnki exports
A._Allgemeinwissen__Heimat_flora_\&_Fauna/
PKM__Lexikon__Faktisches__Heimat_flora_\&_Fauna/
